h1 {
	color: white;
	font-family: copperplate , fantasy;
}

body {
	font-family: copperplate , fantasy;
	background-color: rgb(178,34,34);
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

label {
	color: white;
}

button {
	color: white;
	background-color: rgb(178,34,34);
}

h2 {
	color: white;
}
h3 {
	color: white;
}